a.bubble {position:relative; z-index:24; color:#000; text-decoration:none}
a.bubble:hover {z-index:25; background-color: #e6e8ea;}
a.bubble span.help {display: none;}
a.bubble:hover span.help {display:block; position:absolute; top:2em; left:2em; width:32em; border:1px solid #aaaaaa; background-color:#e3dfdb; padding: 2px;}

.box {
	margin: 0 0 1em 0;
}

.toggleTitle:hover {
	background-color: #cfcbc7 !important;
}
.toggleTitle a {
	width: 100%;
	position: relative;
	display: block;
}
div.toggleTitle a img {
	position: relative;
	margin-right: 4px;
}
.toggleTitle {
	font-weight: bold;
	border: 1px solid #898989;
	width: 15em;
	background-color: #e3dfdb;
}
.toggleBox {
	margin-top: -1px;
	background: #ffffff;
	border: 1px solid #aaaaaa;
	padding: 1em;
}


.typo3-message {
	margin-top: 1em;
	max-width: 48em;
}

.t3-wizard-steps {
	margin: 0px 10px 0px 0px;
	float: left;
	clear: both;
	line-height: 22px;
	background-image: none;
	background-color: #ddd;
	padding: 5px;
}
.t3-wizard-steps span {
	font-size: 22px;
	font-weight: bold;
	color: #ffffff;
	vertical-align: bottom;
}

.t3-wizard-steps span.t3-wizard-item-active {
	color: #000000;
}

#typo3-docheader-row2 { 
	line-height: 14px !important; 
}
#typo3-docheader-row2 span { 
	font-weight: bold; margin-top: -3px; color: #000; margin-top: 0; padding-left: 20px; 
}