a.bubble {position:relative; z-index:24; color:#000; text-decoration:none}
a.bubble:hover {z-index:25; background-color: #e6e8ea;}
a.bubble span.help {display: none;}
a.bubble:hover span.help {display:block; position:absolute; top:2em; left:2em; width:25em; border:1px solid #0cf; background-color:#cff; padding: 2px;}

.box {
	margin: 0 0 1em 0;
}

.toggleTitle:hover {
	background-color: #cfcbc7 !important;
}
.toggleTitle a {
	width: 100%;
	position: relative;
	top: -3px;
	display: block;
}
div.toggleTitle a img {
	position: relative;
	top: 4px;
	margin-right: 4px;
}
.toggleTitle {
	font-weight: bold;
	border: 1px solid #898989;
	width: 15em;
	background-color: #e3dfdb;
}
.toggleBox {
	margin-top: -1px;
	background: #ffffff;
	border: 1px solid #aaaaaa;
	padding: 1em;
	width: 50em;
}


.typo3-message {
	margin-top: 1em;
	max-width: 48em;
}

.t3-wizard-steps {
	margin: 0px 10px 0px 0px;
	padding-left: 30px;
	padding-right: 30px;
	float: left;
	clear: both;
	line-height: 22px;
	background-image: none;
}
.t3-wizard-steps span {
	font-size: 22px;
	font-weight: bold;
	color: #ffffff;
	vertical-align: bottom;
}


.t3-wizard-steps span.t3-wizard-item-active {
	color: #000000;
}

.t3-btn-next {
	margin-top: 5px;
}

.t3-btn-disabled {
	background: #ccc;
}