{namespace core = TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Default" />

<f:section name="content">
    <f:render partial="Main" arguments="{dmLinks: dmLinks}" section="DMLinks" />
    <f:flashMessages />
    <f:if condition="{implodedParams -> f:count()}">
        <h1><f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:header_conf" /></h1>
        <f:form action="" method="post" name="dmailform" enctype="multipart/form-data">
            <f:render
                arguments="{
                    configuration: implodedParams,
                    index: 1,
                    section: 'box-1',
                    title: 'configure_default_headers'
                }"
                section="Panel"
            />
            <f:render
                arguments="{
                    configuration: implodedParams,
                    index: 2,
                    section: 'box-2',
                    title: 'configure_default_content'
                }"
                section="Panel"
            />
            <f:render
                arguments="{
                    configuration: implodedParams,
                    index: 3,
                    section: 'box-3',
                    title: 'configure_default_fetching'
                }"
                section="Panel"
            />
            <f:render
                arguments="{
                    configuration: implodedParams,
                    index: 4,
                    section: 'box-4',
                    title: 'configure_options_encoding'
                }"
                section="Panel"
            />
            <f:render
                arguments="{
                    configuration: implodedParams,
                    index: 5,
                    section: 'box-5',
                    title: 'configure_options_links'
                }"
                section="Panel"
            />
            <f:render
                arguments="{
                    configuration: implodedParams,
                    index: 6,
                    section: 'box-6',
                    title: 'configure_options_additional'
                }"
                section="Panel"
            />
            <button class="btn btn-default" type="submit" name="submit"><f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:configure_update_configuration" /></button>
        </f:form>
    </f:if>
</f:section>

<f:comment><!--
    Parameters:
    - configuration: all configuration options
    - index: numeric section index
    - title: panel title
    - section: section that renders content
--></f:comment>
<f:section name="Panel">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{index}">
            <h4 class="panel-title">
                <a role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse{index}" aria-expanded="true" aria-controls="collapse{index}" class="collapsed">
                    <span class="caret"></span>
                    <f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:{title}"/>
                </a>
            </h4>
        </div>
        <div id="collapse{index}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{index}">
            <div class="panel-body">
                <f:render section="{section}" arguments="{implodedParams: configuration}"/>
            </div>
        </div>
    </div>
</f:section>

<f:section name="help">
&nbsp;
<a href="#" class="bubble">
    <core:icon identifier="actions-system-help-open" size="small" />
    <span class="help" id="sender_email_help">
</f:section>

<f:section name="box-1">
    <f:variable name="lll"  value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <f:variable name="lll2" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_tca.xlf:" />
    <f:variable name="lll3" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_csh_sysdmail.xlf:" />

    <strong><f:translate key="{lll2}sys_dmail.from_email" /></strong>
    <f:render section="help" /><f:translate key="{lll3}from_email.description" /><br><f:translate key="{lll3}from_email.details" /></span></a><br>
    <f:form.textfield name="pageTS[from_email]" value="{implodedParams.from_email}" class="form-control" />
    <br>

    <strong><f:translate key="{lll2}sys_dmail.from_name" /></strong>
    <f:render section="help" /><f:translate key="{lll3}from_name.description" /><br><f:translate key="{lll3}from_name.details" /></span></a><br>
    <f:form.textfield name="pageTS[from_name]" value="{implodedParams.from_name}" class="form-control" />
    <br>

    <strong><f:translate key="{lll2}sys_dmail.replyto_email" /></strong>
    <f:render section="help" /><f:translate key="{lll3}replyto_email.description" /><br><f:translate key="{lll3}replyto_email.details" /></span></a><br>
    <f:form.textfield name="pageTS[replyto_email]" value="{implodedParams.replyto_email}" class="form-control" />
    <br>

    <strong><f:translate key="{lll2}sys_dmail.replyto_name" /></strong>
    <f:render section="help" /><f:translate key="{lll3}replyto_name.description" /><br><f:translate key="{lll3}replyto_name.details" /></span></a><br>
    <f:form.textfield name="pageTS[replyto_name]" value="{implodedParams.replyto_name}" class="form-control" />
    <br>

    <strong><f:translate key="{lll2}sys_dmail.return_path" /></strong>
    <f:render section="help" /><f:translate key="{lll3}return_path.description" /><br><f:translate key="{lll3}return_path.details" /></span></a><br>
    <f:form.textfield name="pageTS[return_path]" value="{implodedParams.return_path}" class="form-control" />
    <br>

    <strong><f:translate key="{lll2}sys_dmail.organisation" /></strong>
    <f:render section="help" /><f:translate key="{lll3}organisation.description" /><br><f:translate key="{lll3}organisation.details" /></span></a><br>
    <f:form.textfield name="pageTS[organisation]" value="{implodedParams.organisation}" class="form-control" />
    <br>

    <strong><f:translate key="{lll2}sys_dmail.priority" /></strong>
    <f:render section="help" /><f:translate key="{lll3}priority.description" /><br><f:translate key="{lll3}priority.details" /></span></a><br>
    <f:form.select name="pageTS[priority]" value="{implodedParams.priority}" class="form-select form-control-adapt">
        <f:form.select.option value="3"><f:translate key="{lll}configure_priority_normal" /></f:form.select.option>
        <f:form.select.option value="1"><f:translate key="{lll}configure_priority_high" /></f:form.select.option>
        <f:form.select.option value="5"><f:translate key="{lll}configure_priority_low" /></f:form.select.option>
    </f:form.select>
    <br>

</f:section>

<f:section name="box-2">
    <f:variable name="lll"  value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <f:variable name="lll2" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_tca.xlf:" />
    <f:variable name="lll3" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_csh_sysdmail.xlf:" />

    <strong><f:translate key="{lll2}sys_dmail.sendOptions" /></strong>
    <f:render section="help" /><f:translate key="{lll3}sendOptions.description" /><br><f:translate key="{lll3}sendOptions.details" /></span></a><br>
    <f:form.select name="pageTS[sendOptions]" value="{implodedParams.sendOptions}"  class="form-select form-control-adapt">
        <f:form.select.option value="3"><f:translate key="{lll}configure_plain_and_html" /></f:form.select.option>
        <f:form.select.option value="1"><f:translate key="{lll}configure_plain_only" /></f:form.select.option>
        <f:form.select.option value="2"><f:translate key="{lll}configure_html_only" /></f:form.select.option>
    </f:form.select>
    <br>

    <strong><f:translate key="{lll2}sys_dmail.includeMedia" /></strong>
    <f:render section="help" /><f:translate key="{lll3}includeMedia.description" /><br><f:translate key="{lll3}includeMedia.details" /></span></a>
    <br>
    <f:form.checkbox name="pageTS[includeMedia]" value="1" checked="{implodedParams.includeMedia} == 1" />
    <br>

    <strong><f:translate key="{lll2}sys_dmail.flowedFormat" /></strong>
    <f:render section="help" /><f:translate key="{lll3}flowedFormat.description" /><br><f:translate key="{lll3}flowedFormat.details" /></span></a>
    <br>
    <f:form.checkbox name="pageTS[flowedFormat]" value="1" checked="{implodedParams.flowedFormat} == 1" />
    <br>

</f:section>

<f:section name="box-3">
    <f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <f:variable name="lll2" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_tca.xlf:" />

    <strong><f:translate key="{lll2}sys_dmail.HTMLParams" /></strong>
    <f:render section="help" /><f:translate key="{lll}configure_HTMLParams_description" /><br><f:translate key="{lll}configure_HTMLParams_details" /></span></a><br>
    <f:form.textfield name="pageTS[HTMLParams]" value="{implodedParams.HTMLParams}" class="form-control" />
    <br>

    <strong><f:translate key="{lll2}sys_dmail.plainParams" /></strong>
    <f:render section="help" /><f:translate key="{lll}configure_plainParams_description" /><br><f:translate key="{lll}configure_plainParams_details" /></span></a><br>
    <f:form.textfield name="pageTS[plainParams]" value="{implodedParams.plainParams}" class="form-control" />
    <br>

</f:section>

<f:section name="box-4">
    <f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />

    <strong><f:translate key="{lll}configure_options_encoding" /></strong>
    <f:render section="help" /><f:translate key="{lll}configure_quickmail_encoding" /><f:translate key="{lll}configure_quickmail_encoding_description" /></span></a><br>
    <f:form.select name="pageTS[quick_mail_encoding]" options="{quoted-printable: 'quoted-printable', base64: 'base64'}" value="{implodedParams.quick_mail_encoding}"  class="form-select form-control-adapt" />
    <br>

    <strong><f:translate key="{lll}configure_directmail_encoding" /></strong>
    <f:render section="help" /><f:translate key="{lll}configure_directmail_encoding_description" /></span></a><br>
    <f:form.select name="pageTS[direct_mail_encoding]" options="{quoted-printable:'quoted-printable', base64:'base64', 8bit:'8bit'}" value="{implodedParams.direct_mail_encoding}"  class="form-select form-control-adapt" />
    <br>

    <strong><f:translate key="{lll}configure_quickmail_charset" /></strong>
    <f:render section="help" /><f:translate key="{lll}configure_quickmail_charset_description" /></span></a><br>
    <f:form.textfield name="pageTS[quick_mail_charset]" value="{implodedParams.quick_mail_charset}" class="form-control" />
    <br>

    <strong><f:translate key="{lll}configure_directmail_charset" /></strong>
    <f:render section="help" /><f:translate key="{lll}configure_directmail_charset_description" /></span></a><br>
    <f:form.textfield name="pageTS[direct_mail_charset]" value="{implodedParams.direct_mail_charset}" class="form-control" />
    <br>

</f:section>

<f:section name="box-5">
    <f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <f:variable name="lll2" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_tca.xlf:" />
    <f:variable name="lll3" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_csh_sysdmail.xlf:" />

    <strong><f:translate key="{lll2}sys_dmail.use_rdct" /></strong>
    <f:render section="help" /><f:translate key="{lll3}use_rdct.description" /><br><f:translate key="{lll3}use_rdct.details" /><br><f:translate key="{lll}configure_options_links_rdct" /></span></a>
    <br>
    <f:form.checkbox name="pageTS[use_rdct]" value="1" checked="{implodedParams.use_rdct} == 1" />
    <br>

    <strong><f:translate key="{lll2}sys_dmail.long_link_mode" /></strong>
    <f:render section="help" /><f:translate key="{lll3}long_link_mode.description" /></span></a>
    <br>
    <f:form.checkbox name="pageTS[long_link_mode]" value="1" checked="{implodedParams.long_link_mode} == 1" />
    <br>

    <strong><f:translate key="{lll}configure_options_links_jumpurl" /></strong>
    <f:render section="help" /><f:translate key="{lll}configure_options_links_jumpurl_description" /></span></a>
    <br>
    <f:form.checkbox name="pageTS[enable_jump_url]" value="1" checked="{implodedParams.enable_jump_url} == 1" />
    <br>

    <strong><f:translate key="{lll}configure_jumpurl_tracking_privacy" /></strong>
    <f:render section="help" /><f:translate key="{lll}configure_jumpurl_tracking_privacy_description" /></span></a>
    <br>
    <f:form.checkbox name="pageTS[jumpurl_tracking_privacy]" value="1" checked="{implodedParams.jumpurl_tracking_privacy} == 1" />
    <br>

    <strong><f:translate key="{lll}configure_options_mailto_jumpurl" /></strong>
    <f:render section="help" /><f:translate key="{lll}configure_options_mailto_jumpurl_description" /></span></a>
    <br>
    <f:form.checkbox name="pageTS[enable_mailto_jump_url]" value="1" checked="{implodedParams.jumpurl_tracking_privacy} == 1" />
    <br>

    <strong><f:translate key="{lll2}sys_dmail.authcode_fieldList" /></strong>
    <f:render section="help" /><f:translate key="{lll3}authcode_fieldList.description" /></span></a><br>
    <f:form.textfield name="pageTS[authcode_fieldList]" value="{implodedParams.authcode_fieldList}" class="form-control" />
    <br>

</f:section>

<f:section name="box-6">
    <f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />

    <strong><f:translate key="{lll}configure_http_username" /></strong>
    <f:render section="help" /><f:translate key="{lll}configure_http_username_description" /><br><f:translate key="{lll}configure_http_username_details" /></span></a><br>
    <f:form.textfield name="pageTS[http_username]" value="{implodedParams.http_username}" class="form-control" />
    <br>

    <strong><f:translate key="{lll}configure_http_password" /></strong>
    <f:render section="help" /><f:translate key="{lll}configure_http_password_description" /></span></a><br>
    <f:form.textfield name="pageTS[http_password]" value="{implodedParams.http_password}" class="form-control" />
    <br>

    <strong><f:translate key="{lll}configure_simulate_usergroup" /></strong>
    <f:render section="help" /><f:translate key="{lll}configure_simulate_usergroup_description" /><br><f:translate key="{lll}configure_simulate_usergroup_details" /></span></a><br>
    <f:form.textfield name="pageTS[simulate_usergroup]" value="{implodedParams.simulate_usergroup}" class="form-control" />
    <br>

    <strong><f:translate key="{lll}configure_user_table" /></strong>
    <f:render section="help" /><f:translate key="{lll}configure_user_table_description" /></span></a><br>
    <f:form.textfield name="pageTS[userTable]" value="{implodedParams.userTable}" class="form-control" />
    <br>

    <strong><f:translate key="{lll}configure_test_tt_address_uids" /></strong>
    <f:render section="help" /><f:translate key="{lll}configure_test_tt_address_uids_description" /></span></a><br>
    <f:form.textfield name="pageTS[test_tt_address_uids]" value="{implodedParams.test_tt_address_uids}" class="form-control" />
    <br>

    <strong><f:translate key="{lll}configure_test_dmail_group_uids" /></strong>
    <f:render section="help" /><f:translate key="{lll}configure_test_dmail_group_uids_description" /></span></a><br>
    <f:form.textfield name="pageTS[test_dmail_group_uids]" value="{implodedParams.test_dmail_group_uids}" class="form-control" />
    <br>

    <strong><f:translate key="{lll}configure_testmail" /></strong><f:render section="help" /><f:translate key="{lll}configure_testmail_description" /></span></a><br>
    <f:form.textfield name="pageTS[testmail]" value="{implodedParams.testmail}" class="form-control" />
    <br>

</f:section>
