<f:layout name="Default" />

<f:section name="content">
<f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
<f:flashMessages />
<div class="typo3-fullDoc">
    <div class="module-body t3js-module-body">
        <form action="" method="post" name="dmailform" enctype="multipart/form-data">
	        <f:format.raw>{wizardsteps}</f:format.raw>
	        <f:format.raw>{navigation}</f:format.raw>
	        <br clear="all" />
	        <br />
			<f:format.raw>{flashmessages}</f:format.raw>
			<h3><f:format.raw>{title}</f:format.raw></h3>
			<f:format.raw>{content}</f:format.raw>		
			
			<f:if condition="{data.default}">
				<h3><f:translate key="{lll}dmail_wiz1_new_newsletter"/> - <f:translate key="{lll}dmail_wiz1_select_nl_source"/></h3>
				<f:if condition="{data.default.internal}">
	                <f:render
	                    arguments="{
	                        data: data.default.internal,
	                        index: 4,
	                        section: 'DefaultInternal',
	                        title: 'dmail_wiz1_internal_page'
	                    }"
	                    section="Panel"
	                />
				</f:if>
				<f:if condition="{data.default.external}">
	                <f:render
	                    arguments="{
	                        data: data.default.external,
	                        index: 5,
	                        section: 'DefaultExternal',
	                        title: 'dmail_wiz1_external_page'
	                    }"
	                    section="Panel"
	                />
				</f:if>
				<f:if condition="{data.default.quick}">
	                <f:render
		                arguments="{
		                    data: data.default.quick,
		                    index: 6,
		                    section: 'DefaultQuick',
		                    title: 'dmail_wiz1_quickmail'
		                }"
		                section="Panel"
	                />
				</f:if>
				<f:if condition="{data.default.dmail}">
	                <f:render
	                    arguments="{
	                        data: data.default.dmail,
	                        index: 7,
	                        section: 'DefaultDmail',
	                        title: 'dmail_wiz1_list_dmail'
	                    }"
	                    section="Panel"
	                />
	            </f:if>
	            <input type="hidden" name="cmd" value="info" />
            </f:if>
		</form>
	</div>
</div>
</f:section>


<f:comment><!--
    Parameters:
    - data: all configuration options
    - index: numeric section index
    - title: panel title
    - section: section that renders content
--></f:comment>
<f:section name="Panel">
    <f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <f:variable name="aria-expanded" value="false" />
    <f:variable name="classCollapsed" value="collapsed" />
    <f:variable name="classShow" value="" />
    <f:if condition="{data.open}">
        <f:variable name="aria-expanded" value="true" />
        <f:variable name="classCollapsed" value="" />
        <f:variable name="classShow" value=" show" />
    </f:if>
    
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{index}">
            <h4 class="panel-title">
                <a role="button" data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse{index}" aria-expanded="{aria-expanded}" aria-controls="collapse{index}" class="{classCollapsed}">
                    <span class="caret"></span>
                    <f:translate key="{lll}{title}"/>
                </a>
            </h4>
        </div>
        <div id="collapse{index}" class="panel-collapse collapse{classShow}" role="tabpanel" aria-labelledby="heading{index}">
            <div class="panel-body">
                <f:render section="{section}" arguments="{data: data}"/>
            </div>
        </div>
    </div>
</f:section>

<f:section name="DefaultInternal">
    <f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <h3>
        <f:translate key="{lll}{data.title}"/> <f:format.html>{data.cshItem}</f:format.html>
    </h3>
    <f:format.raw>{data.news}</f:format.raw>
</f:section>

<f:section name="DefaultExternal">
    <f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <h3>
        <f:translate key="{lll}{data.title}"/> <f:format.html>{data.cshItem}</f:format.html>
    </h3>
    <f:translate key="{lll}dmail_HTML_url"/>
    <br />
    <input type="text" value="http://" name="createMailFrom_HTMLUrl" class="form-control" />
    <br />
    <f:translate key="{lll}dmail_plaintext_url"/>
    <br />
    <input type="text" value="http://" name="createMailFrom_plainUrl" class="form-control" />
    <br />
    <f:translate key="{lll}dmail_subject"/>
    <br />
    <input type="text" value="{f:translate(key: '{lll}dmail_write_subject')}" name="createMailFrom_URL" class="form-control" />
    <br />
    <f:if condition="{data.no_valid_url}">
        <br />
        <b><f:translate key="{lll}dmail_no_valid_url"/></b>
        <br /><br />
    </f:if>
    <input type="hidden" name="fetchAtOnce" value="1">
    <input type="submit" value="{f:translate(key: '{lll}dmail_createMail')}" />
</f:section>

<f:section name="DefaultQuick">
    <f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <input type="hidden" name="id" value="{data.id}" />
    <f:translate key="{lll}quickmail_sender_name"/>
    <br />
    <input type="text" name="quickmail[senderName]" value="{data.senderName}" style="width: 460px;" />
    <br />
    <f:translate key="{lll}quickmail_sender_email"/>
    <br />
    <input type="text" name="quickmail[senderEmail]" value="{data.senderMail}" style="width: 460px;" />
    <br />
    <f:translate key="{lll}dmail_subject"/>
    <br />
    <input type="text" name="quickmail[subject]" value="{data.subject}" style="width: 460px;" />
    <br />
    <f:translate key="{lll}quickmail_message"/>
    <br />
    <textarea rows="20" name="quickmail[message]" style="width: 460px;"><f:format.html>{data.message}</f:format.html></textarea>
    <br />
    <f:translate key="{lll}quickmail_break_lines"/>
    <input type="checkbox" name="quickmail[breakLines]" value="1" {f:if(condition: '{data.breakLines}', then: 'checked="checked"', else: '')} />
    <br /><br />
    <input type="Submit" name="quickmail[send]" value="{f:translate(key: '{lll}dmail_wiz_next')}" />
</f:section>

<f:section name="DefaultDmail">
    <f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />

    <table class="table table-striped table-hover">
		<thead>
		    <th>&nbsp;</th>
		    <th><f:translate key="{lll}nl_l_subject" /></th>
		    <th><f:translate key="{lll}nl_l_lastM" /></th>
		    <th><f:translate key="{lll}nl_l_sent" /></th>
		    <th><f:translate key="{lll}nl_l_size" /></th>
		    <th><f:translate key="{lll}nl_l_attach" /></th>
		    <th><f:translate key="{lll}nl_l_type" /></th>
		    <th>&nbsp;</th>
		</thead>
		<f:for each="{data}" as="row">
		    <tr class="db_list_normal">
		        <td><f:format.html>{row.icon}</f:format.html></td>
		        <td><f:format.html>{row.link}</f:format.html></td>
		        <td><f:format.html>{row.tstamp}</f:format.html></td>
		        <td><f:format.html>{row.issent}</f:format.html></td>
		        <td><f:format.html>{row.renderedsize}</f:format.html></td>
		        <td><f:format.html>{row.attachment}</f:format.html></td>
		        <td><f:format.html>{row.type}</f:format.html></td>
		        <td><f:format.html>{row.deleteLink}</f:format.html></td>
		    </tr>
		</f:for>
    </table>
</f:section>
