<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
<f:flashMessages queueIdentifier="RecipientListQueue" />
<f:render partial="Main" arguments="{dmLinks: dmLinks}" section="DMLinks" />
<f:if condition="{show}">
    <f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <h1><f:translate key="{lll}importer_header" /></h1>
	<div>
		<h2>{formcontent.output.title}</h2>
		<p class="d-inline-flex gap-1">
			<button class="btn btn-sm btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#importHelp" aria-expanded="false" aria-controls="importHelp">
				<core:icon identifier="actions-system-help-open" size="small" />
			</button>
		</p>
		<div class="collapse" id="importHelp">
			<div class="card card-body">
				<strong><f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_csh_RecipientList.xlf:mailgroup_import.description" /></strong>
				<br>
				<f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_csh_RecipientList.xlf:mailgroup_import.details" />
			</div>
		</div>
		<hr style="border:solid;"/>
		<h3>{formcontent.output.subtitle}</h3>
		<form action="" method="post" name="queryform" enctype="multipart/form-data">
			<f:if condition="{formcontent.output.upload.show}">
				<f:translate key="{lll}mailgroup_import_upload_file" />
				<fieldset class="form-section">
					<input type="file" name="upload_1" />
					<br><br>
				</fieldset>
				<f:if condition="{formcontent.output.upload.current}">
					<f:translate key="{lll}mailgroup_import_current_file" />
					<f:if condition="{formcontent.output.upload.fileInfo -> f:count()}">
						{formcontent.output.upload.fileInfo.name} ({formcontent.output.upload.fileInfo.extension}; {formcontent.output.upload.fileInfo.size})
					</f:if>
					<br>
				</f:if>
				<br>
				<p><b><f:translate key="{lll}mailgroup_import_or" /></b></p><br>
				<f:translate key="{lll}mailgroup_import_paste_csv" /><br>
				<fieldset class="form-section">
					<textarea name="CSV_IMPORT[csv]" class="form-control formengine-textarea">{formcontent.output.upload.csv}</textarea>
					<br><br>
				</fieldset>
				<br>
				<input type="hidden" name="importStep[next]" value="conf">
				<input type="hidden" name="file[upload][1][data]" value="1">
				<input type="hidden" name="file[upload][1][target]" value="{formcontent.output.upload.target}">
				<button class="btn btn-default btn-sm" type="submit" value="{f:translate(key: '{lll}mailgroup_import_next')}" name="CSV_IMPORT[next]">
					<f:translate key="{lll}mailgroup_import_next" />
				</button>
				<input type="hidden" name="CSV_IMPORT[newFile]" value="{formcontent.output.upload.newFile}">
				<input type="hidden" name="CSV_IMPORT[newFileUid]" value="{formcontent.output.upload.newFileUid}">
			</f:if>
			<f:if condition="{formcontent.output.conf.show}">
				<fieldset class="form-section">
					<table class="table table-striped table-hover">
						<tbody>
							<tr class="db_list_normal">
								<td class="w-50">
									<f:translate key="{lll}mailgroup_import_header_conf" />
								</td>
								<td nowrap="">
									<f:if condition="{formcontent.output.conf.storage -> f:count()}">
										<select name="CSV_IMPORT[storage]" class="form-select form-control-adapt">
											<f:for each="{formcontent.output.conf.storage}" as="st">
												<option value="{st.val}" {f:if(condition: "{st.val} == {formcontent.output.conf.storageSelected}" , then: 'selected="selected"')}>{st.text}</option>
											</f:for>
										</select>
									</f:if>
								</td>
							</tr>
							<tr class="db_list_normal">
								<td>
									<f:translate key="{lll}mailgroup_import_remove_existing" />
								</td>
								<td nowrap="">
									<div class="form-check form-switch">
										<input type="checkbox" name="CSV_IMPORT[remove_existing]" value="1" class="form-check-input" {f:if(condition: "1 == {formcontent.output.conf.remove_existing}" , then: 'checked="checked"')} {f:if(condition: '{formcontent.output.conf.disableInput}', then: 'disabled="disabled"')}>
									</div>
								</td>
							</tr>
							<tr class="db_list_normal">
								<td>
									<f:translate key="{lll}mailgroup_import_first_fieldnames" />
								</td>
								<td nowrap="">
									<div class="form-check form-switch">
										<input type="checkbox" name="CSV_IMPORT[first_fieldname]" value="1" class="form-check-input" {f:if(condition: "1 == {formcontent.output.conf.first_fieldname}" , then: 'checked="checked"')} {f:if(condition: '{formcontent.output.conf.disableInput}', then: 'disabled="disabled"')}>
									</div>
								</td>
							</tr>
							<tr class="db_list_normal">
								<td>
									<f:translate key="{lll}mailgroup_import_separator" />
								</td>
								<td nowrap="">
									<f:if condition="{formcontent.output.conf.delimiter -> f:count()}">
										<select name="CSV_IMPORT[delimiter]" class="form-select form-control-adapt" {f:if(condition: '{formcontent.output.conf.disableInput}', then: 'disabled="disabled"')}>
											<f:for each="{formcontent.output.conf.delimiter}" as="del">
												<option value="{del.val}" {f:if(condition: "{del.val} == {formcontent.output.conf.delimiterSelected}" , then: 'selected="selected"')}>{del.text}</option>
											</f:for>
										</select>
									</f:if>
								</td>
							</tr>
							<tr class="db_list_normal">
								<td>
									<f:translate key="{lll}mailgroup_import_encapsulation" />
								</td>
								<td nowrap="">
									<f:if condition="{formcontent.output.conf.encapsulation -> f:count()}">
										<select name="CSV_IMPORT[encapsulation]" class="form-select form-control-adapt" {f:if(condition: '{formcontent.output.conf.disableInput}', then: 'disabled="disabled"')}>
											<f:for each="{formcontent.output.conf.encapsulation}" as="en">
												<option value="{en.val}" {f:if(condition: "{en.val} == {formcontent.output.conf.encapsulationSelected}" , then: 'selected="selected"')}>{en.text}</option>
											</f:for>
										</select>
									</f:if>
								</td>
							</tr>
							<tr class="db_list_normal">
								<td>
									<f:translate key="{lll}mailgroup_import_csv_validemail-description" />
								</td>
								<td nowrap="">
									<div class="form-check form-switch">
										<input type="checkbox" name="CSV_IMPORT[remove_dublette]" value="1" class="form-check-input" {f:if(condition: "1 == {formcontent.output.conf.valid_email}" , then: 'checked="checked"')} {f:if(condition: '{formcontent.output.conf.disableInput}', then: 'disabled="disabled"')}>
									</div>
								</td>
							</tr>
							<tr class="db_list_normal">
								<td>
									<f:translate key="{lll}mailgroup_import_csv_dublette-description" />
								</td>
								<td nowrap="">
									<div class="form-check form-switch">
										<input type="checkbox" name="CSV_IMPORT[remove_dublette]" value="1" class="form-check-input" {f:if(condition: "1 == {formcontent.output.conf.remove_dublette}" , then: 'checked="checked"')} {f:if(condition: '{formcontent.output.conf.disableInput}', then: 'disabled="disabled"')}>
									</div>
								</td>
							</tr>
							<tr class="db_list_normal">
								<td>
									<f:translate key="{lll}mailgroup_import_update_unique" />
								</td>
								<td nowrap="">
									<div class="form-check form-switch">
										<input type="checkbox" name="CSV_IMPORT[update_unique]" value="1" class="form-check-input" {f:if(condition: "1 == {formcontent.output.conf.update_unique}" , then: 'checked="checked"')} {f:if(condition: '{formcontent.output.conf.disableInput}', then: 'disabled="disabled"')}>
									</div>
								</td>
							</tr>
							<tr class="db_list_normal">
								<td>
									<f:translate key="{lll}mailgroup_import_record_unique" />
								</td>
								<td nowrap="">
									<f:if condition="{formcontent.output.conf.record_unique -> f:count()}">
										<select name="CSV_IMPORT[record_unique]" class="form-select form-control-adapt" {f:if(condition: '{formcontent.output.conf.disableInput}', then: 'disabled="disabled"')}>
											<f:for each="{formcontent.output.conf.record_unique}" as="ru">
												<option value="{ru.val}" {f:if(condition: "{ru.val} == {formcontent.output.conf.record_uniqueSelected}" , then: 'selected="selected"')}>{ru.text}</option>
											</f:for>
										</select>
									</f:if>
								</td>
							</tr>
						</tbody>
					</table>
				</fieldset>
				<br>
				<input type="hidden" name="importStep[next]" value="mapping">
				<input type="hidden" name="importStep[back]" value="upload">
				<button class="btn btn-default btn-sm" type="submit" value="{f:translate(key: '{lll}mailgroup_import_back')}" name="CSV_IMPORT[back]">
					<f:translate key="{lll}mailgroup_import_back" />
				</button>
				<button class="btn btn-default btn-sm" type="submit" value="{f:translate(key: '{lll}mailgroup_import_next')}" name="CSV_IMPORT[next]">
					<f:translate key="{lll}mailgroup_import_next" />
				</button>
				<input type="hidden" name="CSV_IMPORT[newFile]" value="{formcontent.output.conf.newFile}">
				<input type="hidden" name="CSV_IMPORT[newFileUid]" value="{formcontent.output.conf.newFileUid}">
			</f:if>
			<f:if condition="{formcontent.output.mapping.show}">
				<fieldset class="form-section">
					<table class="table table-striped table-hover">
						<tbody>
							<tr class="db_list_normal">
								<td nowrap="" width="300">
									<f:translate key="{lll}mailgroup_import_mapping_charset_choose" />
								</td>
								<td nowrap="">
									<f:if condition="{formcontent.output.mapping.charset -> f:count()}">
										<select name="CSV_IMPORT[charset]" class="form-select form-control-adapt">
											<f:for each="{formcontent.output.mapping.charset}" as="cs">
												<option value="{cs.val}" {f:if(condition: "{cs.val} == {formcontent.output.mapping.charsetSelected}" , then: 'selected="selected"')}>{cs.text}</option>
											</f:for>
										</select>
									</f:if>
								</td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-default btn-sm" type="submit" value="{f:translate(key: '{lll}mailgroup_import_update')}" name="CSV_IMPORT[update]">
						<f:translate key="{lll}mailgroup_import_update" />
					</button>
					<br><br>
				</fieldset>
				<f:if condition="{formcontent.output.mapping.error -> f:count()}">
					<h3><f:translate key="{lll}mailgroup_import_mapping_error" /></h3>
					<f:translate key="{lll}mailgroup_import_mapping_error_detail" /><br>
					<ul>
						<f:for each="{formcontent.output.mapping.error}" as="error">
							<li><f:translate key="{lll}mailgroup_import_mapping_error_{error}" /></li>
						</f:for>
					</ul>
				</f:if>
				<h3><f:translate key="{lll}mailgroup_import_mapping_conf" /></h3>
				<fieldset class="form-section">
					<table class="table table-striped table-hover">
						<thead>
							<tr class="t3-row-header">
								<th nowrap=""><b><f:translate key="{lll}mailgroup_import_mapping_number" /></b></th>
								<th nowrap=""><b><f:translate key="{lll}mailgroup_import_mapping_description" /></b></th>
								<th nowrap=""><b><f:translate key="{lll}mailgroup_import_mapping_mapping" /></b></th>
								<th nowrap=""><b><f:translate key="{lll}mailgroup_import_mapping_value" /></b></th>
							</tr>
						</thead>
						<tbody>
							<f:if condition="{formcontent.output.mapping.table -> f:count()}">
								<f:for each="{formcontent.output.mapping.table}" iteration="iterator" as="row">
									<tr class="db_list_normal">
										<td nowrap="">{iterator.cycle}</td>
										<td nowrap=""><f:format.raw>{row.mapping_description}</f:format.raw></td>
										<td nowrap="">
											<f:if condition="{formcontent.output.mapping.fields -> f:count()}">
												<select name="CSV_IMPORT[map][{row.mapping_i}]" class="form-select form-control-adapt">
													<f:for each="{formcontent.output.mapping.fields}" as="field">
														<option value="{field.0}" {f:if(condition: "{field.0} == {row.mapping_mappingSelected}" , then: 'selected="selected"')}>{field.1}</option>
													</f:for>
												</select>
											</f:if>
										</td>
										<td nowrap="">
											<f:if condition="{row.mapping_value -> f:count()}">
												<table class="table table-striped table-hover">
													<f:for each="{row.mapping_value}" as="mv">
														<tr nowrap="">
															<td>
																<f:format.raw>{mv}</f:format.raw>
															</td>
														</tr>
													</f:for>
												</table>
											</f:if>
										</td>
									</tr>
								</f:for>
							</f:if>
						</tbody>
					</table>
				</fieldset>
				<br>
				<h3><f:translate key="{lll}mailgroup_import_mapping_conf_add" /></h3>
				<fieldset class="form-section">
					<table class="table table-striped table-hover">
						<tbody>
							<tr class="db_list_normal">
								<td nowrap="" width="300">
									<f:translate key="{lll}mailgroup_import_mapping_all_html" />
								</td>
								<td nowrap="">
									<div class="form-check form-switch">
										<input type="checkbox" name="CSV_IMPORT[all_html]" value="1" class="form-check-input" {f:if(condition: "1 == {formcontent.output.mapping.all_html}" , then: 'checked="checked"')}>
									</div>
								</td>
							</tr>
							<f:if condition="{formcontent.output.mapping.mapping_cats -> f:count()}">
								<tr class="db_list_normal">
									<td nowrap="">
										<f:translate key="{lll}mailgroup_import_mapping_cats" />
									</td>
									<td nowrap="">
									</td>
								</tr>
								<f:if condition="{formcontent.output.mapping.show_add_cat}">
									<tr class="db_list_normal">
										<td nowrap="">
											<f:translate key="{lll}mailgroup_import_mapping_cats_add" />
										</td>
										<td nowrap="">
											<div class="form-check form-switch">
												<input type="checkbox" name="CSV_IMPORT[add_cat]" value="1" class="form-check-input" {f:if(condition: "1 == {formcontent.output.mapping.add_cat}" , then: 'checked="checked"')}>
											</div>
										</td>
									</tr>
								</f:if>

								<f:for each="{formcontent.output.mapping.mapping_cats}" as="mapping_cat">
									<tr class="db_list_normal">
										<td nowrap="">&nbsp;{mapping_cat.cat}</td>
										<td nowrap="">
											<input type="checkbox" name="CSV_IMPORT[cat][{mapping_cat.k}]" value="{mapping_cat.vUid}" class="form-check-input" {f:if(condition: "1 == {mapping_cat.checked}" , then: 'checked="checked"')}>
										</td>
									</tr>
								</f:for>
							</f:if>
						</tbody>
					</table>
				</fieldset>
				<br>
				<input type="hidden" name="importStep[next]" value="startImport">
				<input type="hidden" name="importStep[back]" value="conf">

				<button class="btn btn-default btn-sm" type="submit" value="{f:translate(key: '{lll}mailgroup_import_back')}" name="CSV_IMPORT[back]">
					<f:translate key="{lll}mailgroup_import_back" />
				</button>
				<button class="btn btn-default btn-sm" type="submit" value="{f:translate(key: '{lll}mailgroup_import_next')}" name="CSV_IMPORT[next]">
					<f:translate key="{lll}mailgroup_import_next" />
				</button>
				<input type="hidden" name="CSV_IMPORT[newFile]" value="{formcontent.output.mapping.newFile}">
				<input type="hidden" name="CSV_IMPORT[newFileUid]" value="{formcontent.output.mapping.newFileUid}">
				<input type="hidden" name="CSV_IMPORT[storage]" value="{formcontent.output.mapping.storage}">
				<input type="hidden" name="CSV_IMPORT[remove_existing]" value="{formcontent.output.mapping.remove_existing}">
				<input type="hidden" name="CSV_IMPORT[first_fieldname]" value="{formcontent.output.mapping.first_fieldname}">
				<input type="hidden" name="CSV_IMPORT[delimiter]" value="{formcontent.output.mapping.delimiter}">
				<input type="hidden" name="CSV_IMPORT[encapsulation]" value="{formcontent.output.mapping.encapsulation}">
				<input type="hidden" name="CSV_IMPORT[valid_email]" value="{formcontent.output.mapping.valid_email}">
				<input type="hidden" name="CSV_IMPORT[remove_dublette]" value="{formcontent.output.mapping.remove_dublette}">
				<input type="hidden" name="CSV_IMPORT[update_unique]" value="{formcontent.output.mapping.update_unique}">
				<input type="hidden" name="CSV_IMPORT[record_unique]" value="{formcontent.output.mapping.record_unique}">
				<input type="hidden" name="CSV_IMPORT[charsetSelected]" value="{formcontent.output.mapping.charsetSelected}">
			</f:if>
			<f:if condition="{formcontent.output.startImport.show}">
				<f:if condition="{formcontent.output.startImport.tables -> f:count()}">
					<fieldset class="form-section">
						<f:for each="{formcontent.output.startImport.tables}" as="table">
							<table class="table table-striped table-hover">
								<thead>
									<tr class="t3-row-header">
										<th colspan="3" nowrap=""><b>{table.header}</b></th>
									</tr>
								</thead>
								<tbody>
									<f:if condition="{table.rows -> f:count()}">
										<f:for each="{table.rows}" as="row" iteration="iterator">
											<tr class="db_list_normal">
												<td nowrap="">{iterator.cycle}</td>
												<td>{row.val}</td>
												<td>{row.email}</td>
											</tr>
										</f:for>
									</f:if>
								</tbody>
							</table>
						</f:for>
					</fieldset>
				</f:if>
				<f:if condition="{formcontent.output.startImport.hiddenMap -> f:count()}">
					<f:for each="{formcontent.output.startImport.hiddenMap}" as="map">
						<input type="hidden" name="{map.name}" value="{map.value}">
					</f:for>
				</f:if>
				<f:if condition="{formcontent.output.startImport.hiddenCat -> f:count()}">
					<f:for each="{formcontent.output.startImport.hiddenCat}" as="cat">
						<input type="hidden" name="{cat.name}" value="{cat.value}">
					</f:for>
				</f:if>
				<br>
				<input type="hidden" name="importStep[next]" value="startImport">
				<input type="hidden" name="importStep[back]" value="mapping">

				<button class="btn btn-default btn-sm" type="submit" value="{f:translate(key: '{lll}mailgroup_import_back')}" name="CSV_IMPORT[back]">
					<f:translate key="{lll}mailgroup_import_back" />
				</button>
				<input type="hidden" name="CSV_IMPORT[newFile]" value="{formcontent.output.startImport.newFile}">
				<input type="hidden" name="CSV_IMPORT[newFileUid]" value="{formcontent.output.startImport.newFileUid}">
				<input type="hidden" name="CSV_IMPORT[storage]" value="{formcontent.output.startImport.storage}">
				<input type="hidden" name="CSV_IMPORT[remove_existing]" value="{formcontent.output.startImport.remove_existing}">
				<input type="hidden" name="CSV_IMPORT[first_fieldname]" value="{formcontent.output.startImport.first_fieldname}">
				<input type="hidden" name="CSV_IMPORT[delimiter]" value="{formcontent.output.startImport.delimiter}">
				<input type="hidden" name="CSV_IMPORT[encapsulation]" value="{formcontent.output.startImport.encapsulation}">
				<input type="hidden" name="CSV_IMPORT[valid_email]" value="{formcontent.output.startImport.valid_email}">
				<input type="hidden" name="CSV_IMPORT[remove_dublette]" value="{formcontent.output.startImport.remove_dublette}">
				<input type="hidden" name="CSV_IMPORT[update_unique]" value="{formcontent.output.startImport.update_unique}">
				<input type="hidden" name="CSV_IMPORT[record_unique]" value="{formcontent.output.startImport.record_unique}">
				<input type="hidden" name="CSV_IMPORT[all_html]" value="{formcontent.output.startImport.all_html}">
				<input type="hidden" name="CSV_IMPORT[charset]" value="{formcontent.output.startImport.charsetSelected}">
				<input type="hidden" name="CSV_IMPORT[add_cat]" value="{formcontent.output.startImport.add_cat}">
			</f:if>
		</form>
	</div>
</f:if>
</f:section>

</html>
