<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
	<f:render partial="Main" arguments="{dmLinks: dmLinks}" section="DMLinks" />
<f:flashMessages queueIdentifier="MailerEngineQueue" />
<f:if condition="{show}">
	<f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
	<h1><f:translate key="{lll}header_mailer" /></h1>
    <h3><f:translate key="{lll}dmail_mailerengine_status" /></h3>
    <f:render arguments="{schedulerTable: schedulerTable}" section="Scheduler" />

	<f:if condition="{invoke}">
		<h3><f:translate key="{lll}dmail_mailerengine_manual_invoke" /></h3>
		<p>
		    <f:translate key="{lll}dmail_mailerengine_manual_explain" /><br /><br />
		    <a class="t3-link" href="{moduleUrl}"><strong><f:translate key="{lll}dmail_mailerengine_invoke_now" /></strong></a>
		</p>
		<div style="padding-top: 20px;"></div>
	</f:if>

	<table class="table table-striped table-hover">
	    <tr class="t3-row-header">
	        <th>&nbsp;</th>
            <th><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.uid" /></th>
	        <th><b><f:translate key="{lll}dmail_mailerengine_subject" />&nbsp;&nbsp;</b></th>
	        <th><b><f:translate key="{lll}dmail_mailerengine_scheduled" />&nbsp;&nbsp;</b></th>
	        <th><b><f:translate key="{lll}dmail_mailerengine_delivery_begun" />&nbsp;&nbsp;</b></th>
	        <th><b><f:translate key="{lll}dmail_mailerengine_delivery_ended" />&nbsp;&nbsp;</b></th>
	        <th style="text-align: center;"><b>&nbsp;<f:translate key="{lll}dmail_mailerengine_number_sent" />&nbsp;</b></th>
	        <th style="text-align: center;"><b>&nbsp;<f:translate key="{lll}dmail_mailerengine_delete" />&nbsp;</b></th>
	    </tr>
	<f:for each="{data}" as="row">
        <tr class="db_list_normal">
		    <td><f:format.raw>{row.icon}</f:format.raw></td>
            <td>{row.uid}</td>
		    <td>{row.subject}</td>
		    <td>{row.scheduled}</td>
		    <td>{row.scheduled_begin}</td>
		    <td>{row.scheduled_end}</td>
		    <td style="text-align: center;"><f:if condition="{row.sent}">{row.sent}</f:if></td>
		    <td style="text-align: center;">
                <f:if condition="{row.delete}">
                    <f:be.link parameters="{id: id, uid: row.uid, cmd: 'delete'}" route="{moduleName}">
                        <core:icon identifier="actions-edit-delete"/>
                    </f:be.link>
                </f:if>
            </td>
        </tr>
	</f:for>

	</table>
</f:if>
</f:section>

<f:section name="Scheduler">


    <f:if condition="{schedulerTable -> f:count()}">
        <f:then>
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="t3-row-header">
                        <th><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.id"/></th>
                        <th><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:task"/></th>
                        <th><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.status"/></th>
                        <th><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.type"/></th>
                        <th><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.frequency"/></th>
                        <th><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.parallel"/></th>
                        <th><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.lastExecution"/></th>
                        <th><f:translate key="LLL:EXT:scheduler/Resources/Private/Language/locallang.xlf:label.nextExecution"/></th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{schedulerTable}" as="task" iteration="taskIterator">
                        <f:if condition="{task.validClass}">
                            <tr class="{task.showAsDisabled}">
                                <td class="right">{task.uid}</td>
                                <td class="nowrap-disabled">
                                    <div class="name">
                                        <strong>{task.classTitle} ({task.classExtension})</strong>
                                        <f:if condition="{task.progress}">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{task.progress}" aria-valuemin="0" aria-valuemax="100" style="width: {task.progress}%;">{task.progress}%</div>
                                            </div>
                                        </f:if>
                                        <f:if condition="{task.additionalInformation}">
                                            <div class="additional-information"><f:format.nl2br>{task.additionalInformation}</f:format.nl2br></div>
                                        </f:if>
                                    </div>
                                    <f:if condition="{task.description} != ''">
                                        <div class="text-muted" style="margin-top: 0.5em;"><f:format.nl2br>{task.description}</f:format.nl2br></div>
                                    </f:if>
                                </td>
                                <td>
                                    <f:for each="{task.labels}" as="label">
                                        <f:if condition="{task.validClass}">
                                            <span class="label label-{label.class}" title="{label.description}">{label.text}</span>
                                        </f:if>
                                    </f:for>
                                </td>
                                <td>{task.execType}</td>
                                <td>{task.frequency}</td>
                                <td>{task.multiple}</td>
                                <td>{task.lastExecution}</td>
                                <td><span class="{task.labels.nextexecution.class}">{task.nextExecution}</span></td>
                            </tr>
                        </f:if>
                    </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            <p><strong><f:translate key="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:dmail_mailerengine_tasknotfound" /></strong></p>
        </f:else>
    </f:if>
</f:section>
</html>
