<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Module" />

<f:section name="Content">
<f:flashMessages queueIdentifier="StatisticsQueue" />
<f:render partial="Main" arguments="{dmLinks: dmLinks}" section="DMLinks" />
<f:if condition="{show}">
    <f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <h1><f:translate key="{lll}stats_overview_header" /></h1>
	<f:if condition="{data.dataPageInfo}">
	    <f:then>
	       <f:render section="dataPageInfo" arguments="{dataPageInfo:data.dataPageInfo}" />
	    </f:then>
	    <f:else if="{data.dataUserInfo}">
	       <f:render section="dataUserInfo" arguments="{dataUserInfo:data.dataUserInfo}" />
	    </f:else>
	    <f:else if="{data.dataStats}">
	       <f:render section="dataStats" arguments="{dataStats:data.dataStats}" />
        </f:else>
        <f:else if="{data.dataHook}">
            <f:format.raw>{data.dataHook}</f:format.raw>
        </f:else>
	</f:if>
</f:if>
</f:section>

<f:section name="dataPageInfo">
    <f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <h3><f:translate key="{lll}stats_overview_choose" /></h3>
    <table class="table table-striped table-hover">
        <thead>
			<th>&nbsp;</th>
            <th><f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.uid" /></th>
			<th><b><f:translate key="{lll}stats_overview_subject" /></b></th>
			<th><b><f:translate key="{lll}stats_overview_scheduled" /></b></th>
			<th><b><f:translate key="{lll}stats_overview_delivery_begun" /></b></th>
			<th><b><f:translate key="{lll}stats_overview_delivery_ended" /></b></th>
			<th nowrap="nowrap"><b><f:translate key="{lll}stats_overview_total_sent" /></b></th>
			<th><b><f:translate key="{lll}stats_overview_status" /></b></th>
        </thead>
        <f:for each="{dataPageInfo}" as="row">
            <tr class="db_list_normal">
                <td><f:format.raw>{row.icon}</f:format.raw></td>
                <td>{row.id}</td>
                <td><f:format.raw>{row.subject}</f:format.raw></td>
	            <td>{row.scheduled}</td>
	            <td>{row.scheduled_begin}</td>
	            <td>{row.scheduled_end}</td>
	            <td><f:if condition="{row.sent}">{row.sent}</f:if></td>
	            <td>{row.status}</td>
            </tr>
        </f:for>
    </table>
    <div style="padding-top: 20px;"></div>
</f:section>

<f:section name="table">
    <f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <table class="table table-striped table-hover">
        <thead>
            <tr class="t3-row-header">
                <f:for each="{table.head}" as="head">
                    <th>
                       <f:if condition="{head}"><f:translate key="{lll}{head}" /></f:if>
                    </th>
                </f:for>
            </tr>
        </thead>
        <tbody>
            <f:for each="{table.body}" as="body">
                <tr>
                    <f:for each="{body}" as="cell" iteration="fooIterator">
                        <td>
                        <f:if condition="{fooIterator.cycle} == 1">
                            <f:then>
                                <f:if condition="{cell} != ''"><f:translate key="{lll}{cell}" /></f:if>
                            </f:then>
                            <f:else><f:format.raw>{cell}</f:format.raw></f:else>
                        </f:if>
                        </td>
                    </f:for>
                </tr>
            </f:for>
        </tbody>
    </table>
</f:section>

<f:section name="table4">
    <f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <table class="table table-striped table-hover">
        <thead>
            <tr class="t3-row-header">
                <f:for each="{table.head}" as="head">
                    <th>
                       <f:if condition="{head}"><f:translate key="{lll}{head}" /></f:if>
                    </th>
                </f:for>
            </tr>
        </thead>
        <tbody>
            <f:for each="{table.body}" as="tr">
                <tr>
					<td><f:translate key="{lll}{tr.title}" /></td>
					<td>{tr.counter}</td>
					<td>
						<div class="btn-group">
							<f:for each="{tr.icons}" as="icon">
								<a href="{table.url}&{icon.getAttr}=1" class="btn btn-default" title="{f:translate(key: '{lll}{icon.lang}')}">
									<span class="t3js-icon icon icon-size-small icon-state-default">
										<f:format.raw>{icon.icon}</f:format.raw>
									</span>
								</a>
							</f:for>
						</div>
					</td>
                </tr>
            </f:for>
        </tbody>
    </table>
</f:section>

<f:section name="dataStats">
    <f:variable name="lll" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <f:render section="compactView" arguments="{row:dataStats.compactView}" />
    <br>

    <f:if condition="{dataStats.tables.1}">
        <h2><f:translate key="{lll}stats_general_information" /></h2>
        <f:render section="table" arguments="{table:dataStats.tables.1}" />
    </f:if>

    <f:if condition="{dataStats.tables.2}">
        <br>
        <h2><f:translate key="{lll}stats_response" /></h2>
        <f:render section="table" arguments="{table:dataStats.tables.2}" />
    </f:if>

    <f:if condition="{dataStats.tables.4}">
        <br>
        <h2><f:translate key="{lll}stats_mails_returned" /></h2>
        <f:render section="table4" arguments="{table:dataStats.tables.4}" />
    </f:if>
    <f:if condition="{dataStats.tables.5}">
		<br>
        <h2><f:translate key="{lll}stats_response_link" /></h2>
	    <table class="table table-striped table-hover">
	        <thead>
	            <tr class="t3-row-header">
	                <f:for each="{dataStats.tables.5.head}" as="head">
	                    <th>
	                       <f:if condition="{head}"><f:translate key="{lll}{head}" /></f:if>
	                    </th>
	                </f:for>
	            </tr>
	        </thead>
	        <tbody>
	            <f:for each="{dataStats.tables.5.body}" as="body">
	                <tr>
	                    <f:for each="{body}" as="cell" iteration="fooIterator">
	                        <td>
								<f:format.raw>{cell}</f:format.raw>
	                        </td>
	                    </f:for>
	                </tr>
	            </f:for>
	        </tbody>
	    </table>
    </f:if>

    <f:if condition="{dataStats.tables.6}">
		<f:variable name="stats_emails" value="{f:translate(key: '{lll}stats_emails')}" />
		<f:variable name="stats_website_users" value="{f:translate(key: '{lll}stats_website_users')}" />
		<f:variable name="stats_plainlist" value="{f:translate(key: '{lll}stats_plainlist')}" />
		<f:variable name="stats_emails_disabled" value="{f:translate(key: '{lll}stats_emails_disabled')}" />
		<f:variable name="stats_website_users_disabled" value="{f:translate(key: '{lll}stats_website_users_disabled')}" />

    	<f:comment>returnList</f:comment>

    	<f:if condition="{dataStats.tables.6.returnList.tt_address}">
    		<h3>{stats_emails}</h3>
    		<f:render arguments="{returnConfig: dataStats.tables.6.returnList.tt_address.returnConfig}" section="returnConfig" />
    	</f:if>
    	<f:if condition="{dataStats.tables.6.returnList.fe_users}">
    		<h3>{stats_website_users}</h3>
    		<f:render arguments="{returnConfig: dataStats.tables.6.returnList.fe_users.returnConfig}" section="returnConfig" />
    	</f:if>
    	<f:if condition="{dataStats.tables.6.returnList.PLAINLIST}">
			<h3>{stats_plainlist}</h3>
			<ul><li><f:format.raw>{dataStats.tables.6.returnList.PLAINLIST.PLAINLIST}</f:format.raw></li></ul>
    	</f:if>

    	<f:comment>returnDisable</f:comment>

    	<f:if condition="{dataStats.tables.6.returnDisable.tt_address}">
			<br>
			{dataStats.tables.6.returnDisable.tt_address.counter}  {stats_emails_disabled}
    	</f:if>
    	<f:if condition="{dataStats.tables.6.returnDisable.fe_users}">
			<br>
			{dataStats.tables.6.returnDisable.fe_users.counter} {stats_website_users_disabled}
    	</f:if>

    	<f:comment>returnCSV</f:comment>

		<f:if condition="{dataStats.tables.6.returnCSV}">
			<br>
			<f:translate key="{lll}stats_emails_returned_list" />
			<br>
			<textarea style="width:460px;" rows="6" name="nothing"><f:format.raw>{dataStats.tables.6.returnCSV.text}</f:format.raw></textarea>
		</f:if>

		<f:comment>unknownList</f:comment>

		<f:if condition="{dataStats.tables.6.unknownList.tt_address}">
			<br>
			{stats_emails}
			<br>
			<f:render arguments="{returnConfig: dataStats.tables.6.unknownList.tt_address.returnConfig}" section="returnConfig" />
		</f:if>
		<f:if condition="{dataStats.tables.6.unknownList.fe_users}">
			<br>
			{stats_website_users}
			<br>
			<f:render arguments="{returnConfig: dataStats.tables.6.unknownList.fe_users.returnConfig}" section="returnConfig" />
		</f:if>
		<f:if condition="{dataStats.tables.6.unknownList.PLAINLIST}">
			<h3>{stats_plainlist}</h3>
			<ul><li><f:format.raw>{dataStats.tables.6.unknownList.PLAINLIST.PLAINLIST}</f:format.raw></li></ul>
		</f:if>

		<f:comment>unknownDisable</f:comment>

		<f:if condition="{dataStats.tables.6.unknownDisable.tt_address}">
			<br>
			{dataStats.tables.6.unknownDisable.tt_address.counter} {stats_emails_disabled}
		</f:if>
		<f:if condition="{dataStats.tables.6.unknownDisable.fe_users}">
			<br>
			{dataStats.tables.6.unknownDisable.fe_users.counter} {stats_website_users_disabled}
		</f:if>

		<f:comment>unknownCSV</f:comment>

		<f:if condition="{dataStats.tables.6.unknownCSV}">
			<br>
			<f:translate key="{lll}stats_emails_returned_unknown_recipient_list" />
			<br>
			<textarea style="width:460px;" rows="6" name="nothing"><f:format.raw>{dataStats.tables.6.unknownCSV.text}</f:format.raw></textarea>
		</f:if>

		<f:comment>fullList</f:comment>

		<f:if condition="{dataStats.tables.6.fullList.tt_address}">
			<br>
			{stats_emails}
			<br>
			<f:render arguments="{returnConfig: dataStats.tables.6.fullList.tt_address.returnConfig}" section="returnConfig" />
		</f:if>
		<f:if condition="{dataStats.tables.6.fullList.fe_users}">
			<br>
			{stats_website_users}
			<br>
			<f:render arguments="{returnConfig: dataStats.tables.6.fullList.fe_users.returnConfig}" section="returnConfig" />
		</f:if>
		<f:if condition="{dataStats.tables.6.fullList.PLAINLIST}">
			<br>
			{stats_plainlist}
			<ul><li><f:format.raw>{dataStats.tables.6.fullList.PLAINLIST.PLAINLIST}</f:format.raw></li></ul>
		</f:if>

		<f:comment>fullDisable</f:comment>

    	<f:if condition="{dataStats.tables.6.fullDisable.tt_address}">
			<br>
			{dataStats.tables.6.fullDisable.tt_address.counter} {stats_emails_disabled}
    	</f:if>
    	<f:if condition="{dataStats.tables.6.fullDisable.fe_users}">
			<br>
			{dataStats.tables.6.fullDisable.fe_users.counter} {stats_website_users_disabled}
    	</f:if>

		<f:comment>fullCSV</f:comment>

 		<f:if condition="{dataStats.tables.6.fullCSV}">
			<br>
			<f:translate key="{lll}stats_emails_returned_mailbox_full_list" />
			<br>
			<textarea style="width:460px;" rows="6" name="nothing"><f:format.raw>{dataStats.tables.6.fullCSV.text}</f:format.raw></textarea>
		</f:if>

		<f:comment>badHostList</f:comment>

		<f:if condition="{dataStats.tables.6.badHostList.tt_address}">
			<br>
			{stats_emails}
			<br>
			<f:render arguments="{returnConfig: dataStats.tables.6.badHostList.tt_address.returnConfig}" section="returnConfig" />
		</f:if>
		<f:if condition="{dataStats.tables.6.badHostList.fe_users}">
			<br>
			{stats_website_users}
			<br>
			<f:render arguments="{returnConfig: dataStats.tables.6.badHostList.fe_users.returnConfig}" section="returnConfig" />
		</f:if>
		<f:if condition="{dataStats.tables.6.badHostList.PLAINLIST}">
			<br>
			{stats_plainlist}
			<ul><li><f:format.raw>{dataStats.tables.6.badHostList.PLAINLIST.PLAINLIST}</f:format.raw></li></ul>
		</f:if>

		<f:comment>badHostDisable</f:comment>

    	<f:if condition="{dataStats.tables.6.badHostDisable.tt_address}">
			<br>
			{dataStats.tables.6.badHostDisable.tt_address.counter} {stats_emails_disabled}
    	</f:if>
    	<f:if condition="{dataStats.tables.6.badHostDisable.fe_users}">
			<br>
			{dataStats.tables.6.badHostDisable.fe_users.counter} {stats_website_users_disabled}
    	</f:if>

		<f:comment>badHostCSV</f:comment>

		<f:if condition="{dataStats.tables.6.badHostCSV}">
			<br>
			<f:translate key="{lll}stats_emails_returned_bad_host_list" />
			<br>
			<textarea style="width:460px;" rows="6" name="nothing"><f:format.raw>{dataStats.tables.6.badHostCSV.text}</f:format.raw></textarea>
		</f:if>

		<f:comment>badHeaderList</f:comment>

		<f:if condition="{dataStats.tables.6.badHeaderList.tt_address}">
			<br>
			{stats_emails}
			<br>
			<f:render arguments="{returnConfig: dataStats.tables.6.badHeaderList.tt_address.returnConfig}" section="returnConfig" />
		</f:if>
		<f:if condition="{dataStats.tables.6.badHeaderList.fe_users}">
			<br>
			{stats_website_users}
			<br>
			<f:render arguments="{returnConfig: dataStats.tables.6.badHeaderList.fe_users.returnConfig}" section="returnConfig" />
		</f:if>
		<f:if condition="{dataStats.tables.6.badHeaderList.PLAINLIST}">
			<br>
			{stats_plainlist}
			<ul><li><f:format.raw>{dataStats.tables.6.badHeaderList.PLAINLIST.PLAINLIST}</f:format.raw></li></ul>
		</f:if>

		<f:comment>badHeaderDisable</f:comment>

    	<f:if condition="{dataStats.tables.6.badHeaderDisable.tt_address}">
			<br>
			{dataStats.tables.6.badHeaderDisable.tt_address.counter} {stats_emails_disabled}
    	</f:if>
    	<f:if condition="{dataStats.tables.6.badHeaderDisable.fe_users}">
			<br>
			{dataStats.tables.6.badHeaderDisable.fe_users.counter} {stats_website_users_disabled}
    	</f:if>

		<f:comment>badHeaderCSV</f:comment>

		<f:if condition="{dataStats.tables.6.badHeaderCSV}">
			<br>
			<f:translate key="{lll}stats_emails_returned_bad_header_list" />
			<br>
			<textarea style="width:460px;" rows="6" name="nothing"><f:format.raw>{dataStats.tables.6.badHeaderCSV.text}</f:format.raw></textarea>
		</f:if>

		<f:comment>reasonUnknownList</f:comment>

		<f:if condition="{dataStats.tables.6.reasonUnknownList.tt_address}">
			<br>
			{stats_emails}
			<br>
			<f:render arguments="{returnConfig: dataStats.tables.6.reasonUnknownList.tt_address.returnConfig}" section="returnConfig" />
		</f:if>
		<f:if condition="{dataStats.tables.6.reasonUnknownList.fe_users}">
			<br>
			{stats_website_users}
			<br>
			<f:render arguments="{returnConfig: dataStats.tables.6.reasonUnknownList.fe_users.returnConfig}" section="returnConfig" />
		</f:if>
		<f:if condition="{dataStats.tables.6.reasonUnknownList.PLAINLIST}">
			<br>
			{stats_plainlist}
			<ul><li><f:format.raw>{dataStats.tables.6.reasonUnknownList.PLAINLIST.PLAINLIST}</f:format.raw></li></ul>
		</f:if>

		<f:comment>reasonUnknownDisable</f:comment>

		<f:if condition="{dataStats.tables.6.reasonUnknownDisable.tt_address}">
			<br>
			{dataStats.tables.6.reasonUnknownDisable.tt_address.counter} {stats_emails_disabled}
    	</f:if>
    	<f:if condition="{dataStats.tables.6.reasonUnknownDisable.fe_users}">
			<br>
			{dataStats.tables.6.reasonUnknownDisable.fe_users.counter} {stats_website_users_disabled}
    	</f:if>

		<f:comment>reasonUnknownCSV</f:comment>

		<f:if condition="{dataStats.tables.6.reasonUnknownCSV}">
			<br>
			<f:translate key="{lll}stats_emails_returned_reason_unknown_list" />
			<br>
			<textarea style="width:460px;" rows="6" name="nothing"><f:format.raw>{dataStats.tables.6.reasonUnknownCSV.text}</f:format.raw></textarea>
		</f:if>
    </f:if>

    <f:format.raw>{dataStats.out}</f:format.raw>
    <div style="padding-top: 20px;"></div>
    <h3><f:translate key="{lll}stats_recalculate_cached_data" /></h3>
    <p><a style="text-decoration: underline;" href="{dataStats.thisurl}"><f:translate key="{lll}stats_recalculate_stats" /></a></p>
</f:section>

<f:section name="compactView">
    <f:variable name="lll"  value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <f:variable name="lll2" value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_tca.xlf:" />

    <f:variable name="mailInfo"><f:translate key="{lll2}sys_dmail.priority" /> {row.priority};
<f:translate key="{lll2}sys_dmail.transfer_encoding" /> {row.encoding};
<f:translate key="{lll2}sys_dmail.charset" /> {row.charset}</f:variable>

    <f:variable name="dmailInfo">{row.dmailInfo}<f:translate key="{lll}view_media" /> {row.includeMedia};
<f:translate key="{lll}view_flowed" /> {row.flowedFormat}
</f:variable>

    <f:variable name="fromInfo"><f:translate key="{lll}view_replyto" /> {row.replyto_name} &lt;{row.replyto_email}&gt;;
<f:translate key="{lll2}sys_dmail.organisation" /> {row.organisation};
<f:translate key="{lll2}sys_dmail.return_path" /> {row.return_path}
</f:variable>

    <h3><f:translate key="{lll}stats_direct_mail" /></h3>
    <table class="table table-striped table-hover">
        <tr class="t3-row-header">
            <td colspan="3"><f:format.raw>{row.icon}</f:format.raw> {row.subject}</td>
        </tr>
        <tr class="db_list_normal">
            <td><f:translate key="{lll}view_from" /></td>
            <td>{row.from_name} &lt;{row.from_email}&gt;</td>
            <td><span title="{fromInfo -> f:format.raw()}"><f:format.raw>{row.iconInfo}</f:format.raw></span></td>
        </tr>
        <tr class="db_list_normal">
            <td><f:translate key="{lll}view_dmail" /></td>
            <td>{row.type} : {row.dmailData}</td>
            <td><span title="{dmailInfo -> f:format.raw()}"><f:format.raw>{row.iconInfo}</f:format.raw></span></td>
        </tr>
        <tr class="db_list_normal">
            <td><f:translate key="{lll}view_mail" /></td>
            <td>{row.sendOptions}{row.attachment}</td>
            <td><span title="{mailInfo -> f:format.raw()}"><f:format.raw>{row.iconInfo}</f:format.raw></span></td>
        </tr>
        <tr class="db_list_normal">
            <td><f:translate key="{lll}view_delivery_begin_end" /></td>
            <td>{row.delBegin} / {row.delEnd}</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="db_list_normal">
            <td><f:translate key="{lll}view_recipient_total_sent" /></td>
            <td>{row.totalRecip} / {row.sentRecip}</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <div style="padding-top: 5px;"></div>
</f:section>


<f:section name="dataUserInfo">
    <f:variable name="lll"  value="LLL:EXT:direct_mail/Resources/Private/Language/locallang_mod2-6.xlf:" />
    <h3><f:translate key="{lll}subscriber_info" /></h3>
    <f:format.raw>{dataUserInfo.icon}</f:format.raw> {dataUserInfo.name} &lt;{dataUserInfo.email}&gt;

    <a href="{dataUserInfo.editOnClickLink}">
        <f:format.raw>{dataUserInfo.iconActionsOpen}</f:format.raw>
        <b><f:translate key="{lll}dmail_edit" /></b>
    </a>
    <f:form method="post" name="dmailform" enctype="multipart/form-data">
        <div style="padding-top: 20px;"></div>
        <h3><f:translate key="{lll}subscriber_profile" /></h3>
        <f:translate key="{lll}subscriber_profile_instructions" />
        <br><br>

        <f:for each="{dataUserInfo.categories}" as="cat">
            <input type="checkbox" name="indata[categories][{dataUserInfo.uid}][{cat.pkey}]" value="1" class="form-check-input" {f:if(condition: "1 == {cat.checked}" , then: 'checked="checked"')}> <f:format.raw>{cat.pVal}</f:format.raw>
            <br>
        </f:for>
        <br><br>
        <input type="checkbox" name="indata[html]" value="1" class="form-check-input" {f:if(condition: "1 == {dataUserInfo.html}" , then: 'checked="checked"')}> <f:translate key="{lll}subscriber_profile_htmlemail" />
        <br>
        <input type="hidden" name="table" value="{dataUserInfo.table}">
        <input type="hidden" name="uid" value="{dataUserInfo.thisID}">
        <input type="hidden" name="cmd" value="{dataUserInfo.cmd}">
        <br>
        <input type="submit" value="{f:translate(key: '{lll}subscriber_profile_update')}">
    </f:form>
</f:section>

<f:section name="returnConfig">
	<f:if condition="{returnConfig.counter}">
		{returnConfig.title}<strong> {returnConfig.counter}</strong><br>
		<table class="table table-striped table-hover">
			<f:for each="{returnConfig.rows}" as="row">
				<tr class="db_list_normal">
					<td class="nowrap"><f:format.raw>{row.icon}</f:format.raw></td>
					<td><a class="t3-link" href="{row.editLink}" title="{returnConfig.editLinkTitle}"><f:format.raw>{returnConfig.actionsOpen}</f:format.raw></a></td>
					<td class="nowrap"><f:format.raw>{row.email}</f:format.raw></td>
					<td class="nowrap"><f:format.raw>{row.name}</f:format.raw></td>
				</tr>
			</f:for>
		</table>
	</f:if>
</f:section>

</html>
